.container{
    width: 100vw;
    height: 95vh;
    display: flex;
}
.sideBar{
    width: 20vw;
    height: inherit;
    border-left: 2px solid black;
    background-color: white;
}
.contentArea{
    width: 80vw;
    height: inherit;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}