.container{
    display: flex;
    align-items: center;
    height: 18.5vh;
    border-bottom: 2px solid black;
    padding: .3em .3em .3em .3em;
}
.container h2{
    margin: 0px;
}
.container:last-child{
    border-bottom: 0px;
}
.linkText{
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 0.5em;
}
.linkText:hover{
    color: rgb(64, 64, 235);;
}

.linkTextActive{
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 0.5em;
    color: rgb(64, 64, 235);;
}