.container{
    display: flex;
    align-items: center;
    height: 19vh;
    border-bottom: 2px solid black;
    padding: .3em .3em .3em .3em;
}
.container h2{
    margin: 0px;
}
.container:last-child{
    border-bottom: 0px;
}