.container{
    height: 20vh;
    width: 53vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    box-shadow: .8em .8em 0 black;
}
.containerEven{
    height: 20vh;
    width: 53vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: black;
    color: white;
    box-shadow: .8em .8em 0 white, .95em .95em 0 black;
}
.quesContainer{
    width: 30vw;
    margin: .3em .3em .3em .3em;
    padding: .5em .5em .5em .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.quesContainer h2{
    margin-bottom: 5px;
}
.image{
    width: 20vw;
    height: 17vh;
    background-color: black;
    color: white;
}
.imageEven{
    width: 20vw;
    height: 17vh;
    background-color: White;
    color: black;
}

@media screen and (max-width: 810px){
    .container, .containerEven{
        margin-top: 1em;
        width: 90%;
        height: max-content;
        flex-direction: column;
        flex-wrap: wrap ;
        border: 0px none;
        box-shadow: none;
    }
    .image, .imageEven{
        display: none;
    }
    .quesContainer{
        width: 90%;
    }
}