.heading{
  width: max-content;
  height: max-content;
  padding: .5em .5em .5em .5em;
  margin-bottom: 1em;
  font-size: 2em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0.3em 0.3em 0 black;
}
.statement{
  color: grey;
  font-size: 0.8em;
}
@media screen and (max-width: 810px){
  .heading{
    font-size: 1em;
    margin-bottom: 4em;
  }
}